.footer-container {
  width: 100%;
  background: black;
  color: white;
}

.footer {
  width: 100%;
  padding: 16px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer h2 {
  font-size: 20px;
  color: #a855f7;
}

.footer p {
  font-size: 14px;
  color: #cbd5e1;
}

.footer h4 {
  font-size: 13px;
  color: #94a3b8;
}

/* Tablet */
@media (max-width: 1024px) {
  .footer {
    padding: 14px 25px;
  }

  .footer h2 {
    font-size: 18px;
  }

  .footer p {
    font-size: 13px;
  }

  .footer h4 {
    font-size: 12px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .footer {
    padding: 12px 10px;
    gap: 8px;
  }

  .footer h2 {
    font-size: 13px;
  }

  .footer p {
    font-size: 10px;
    text-align: center;
  }

  .footer h4 {
    font-size: 9px;
    text-align: right;
  }
}