.history-container {
  width: 100%;
  min-height: 85vh;
  background: linear-gradient(135deg, #020617, #11113a, #3b0764);
  color: white;
  padding: 50px 60px;
}

.history-page {
  text-align: center;
}

.history-page h1 {
  font-size: 38px;
  margin-bottom: 10px;
}

.history-page p {
  color: #cbd5e1;
  margin-bottom: 25px;
}

.clear-btn {
  background: #ef4444;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 30px;
}

.history-cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.history-card {
  width: 260px;
  background: #09091f;
  border: 1px solid #7c3aed;
  border-radius: 18px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(124, 58, 237, 0.25);
}

.history-card img {
  width: 180px;
  height: 180px;
  background: white;
  padding: 10px;
  border-radius: 14px;
  margin-bottom: 15px;
}

.history-card h3 {
  color: #a855f7;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.history-card p {
  font-size: 14px;
  word-break: break-word;
  color: #cbd5e1;
}

.history-buttons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.history-buttons button {
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #7c3aed;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.history-buttons button:last-child {
  background: #ef4444;
}

/* Mobile */
@media (max-width: 600px) {
  .history-container {
    padding: 35px 15px;
  }

  .history-page h1 {
    font-size: 30px;
  }

  .history-card {
    width: 100%;
    max-width: 300px;
  }
}